
/* Heading */
#heading{
    font-size: 42px;
    text-align: center;
    width: 30%;
    margin: auto;
}
#a{
    font-size: 65px;
}


/*Full body*/
#home_shopping_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#home_shopping_container img{
    width: 100%;
}
#home_shopping_container div:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}
#home_shopping_container div{
    padding: 15px;
}

/* LOGO */
#logo{
    width: 8%;
    margin: auto;
    height: 100px;
}
#logo>img{
    width: 100px;
    height: 100px;
}
#button1{
    color: red;
}


/* page NUmbers */
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}



  /* footer */

  #footer1,#footer2{
    display: flex;
    line-height: 10px;

}
#footer1,#footer3{
    justify-content: space-evenly;
    width: 50%;
}
#footer3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 8%;
    /* text-align:right; */
}
#footer3>div{
    text-align: center;
}
#footer3>div>h4,#footer3>div>p{
    text-align: center;
}
#footer3 p{
    color: rgb(101, 96, 96);
}
#footer3 button{
background-color: black;
color: white;
font-weight: 600;
padding: 10px 15px;
}
#footer3 input{
    padding: 10px 50px;
    font-size: 14px;
    border-color: rgb(246, 241, 241);
}
#footer2{
    justify-content: space-between;
}
#footer>div:nth-child(2){
    width: 80%;
    padding: 40px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#footer{
    background-color: rgb(245, 244, 243);
}

#b>p{
    justify-content:center;
}
#last_second{
    display: flex;
    width: 40%;
    margin: auto;
    justify-content:space-evenly;
}

#up_footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#up_footer>div>img{width: 100%;
}
#up_footer p{
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}